<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/system.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs', { isAuthenticated: isAuthenticated }) %>

      <!--小標 -->
      <div Class="smalltitle">首頁 > 發單系統 > 運費平攤 > 國內平台</div>

      <main>
        <div class="container">
          <!-- <div class="drop-zone">
            <span class="drop-zone__prompt">Drop file here or click to upload</span>
            <input type="file" name="myFile" class="drop-zone__input">
          </div> -->

          <form action="/<% if (editing) { %>edit-product/<%= product._id %><% } else { %>system-feeOut<% } %>"
            method="POST">
            <input type="hidden" name="service" id="service" value="feeOut">
            <!-- <div>
              <label for="imageUrl">商品圖片</label>
              <input type="text" name="imageUrl" id="imageUrl">
            </div> -->
            <div>
              <label for="platform">平台網站</label>
              <select name="platform" id="platform">
                <option value="asos" <% if (editing && product.platform=="asos" ) { %>selected<% } %>>ASOS</option>
                <option value="coggles" <% if (editing && product.platform=="coggles" ) { %>selected<% } %>>COGGLES
                </option>
                <option value="taobao" <% if (editing && product.platform=="taobao" ) { %>selected<% } %>>淘寶商城</option>
                <option value="jackwills" <% if (editing && product.platform=="jackwills" ) { %>selected<% } %>>Jack
                    Wills</option>
                <option value="amazon" <% if (editing && product.platform=="amazon" ) { %>selected<% } %>>AMAZON
                </option>
              </select>
              <input type="hidden" name="platform" id="platform">
              <div>
                <label for="title">店家名稱</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
              </div>
              <div>
                <label for="website">店家網站</label>
                <input type="text" name="website" id="website"
                  value="<% if (editing) { %><%= product.website %><% } %>">
              </div>
              <div>
                <label for="description">商品描述</label>
                <input type="text" name="description" id="description"
                  value="<% if (editing) { %><%= product.description %><% } %>">
              </div>
              <div>
                <label for="deadline">截止日期 (年/月/日)</label>
                <input type="text" name="deadline" id="deadline"
                  value="<% if (editing) { %><%= product.deadline %><% } %>">
              </div>
              <div>
                <label for="targetAmount">目標金額</label>
                <input type="text" name="targetAmount" id="targetAmount"
                  value="<% if (editing) { %><%= product.targetAmount %><% } %>">
              </div>

              <button class="btn" type="submit">
                <% if (editing) { %>更新<% } else { %>發文<% } %>
              </button>
          </form>
      </main>
      </div>

      <!-- <%- include('../includes/footer.ejs') %> -->
  </body>

  </html>