<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/all-system.css">
  <link rel="stylesheet" href="/css/system.css">
  <link rel="stylesheet" href="/css/form.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs', { isAuthenticated: isAuthenticated }) %>

      <main>
        <div class="title-content">
          <!--小標 -->
          <div Class="smalltitle">首頁 > 發單系統 > 運費平攤 > 國內平台</div>
        </div>
        <div class="container">
          <form class="system-form"
            action="/<% if (editing) { %>edit-product/<%= product._id %><% } else { %>system-feeIn<% } %>"
            method="POST">
            <input type="hidden" name="service" id="service" value="feeIn">
            <div>
              <label for="platform">平台網站</label>
              <select name="platform" id="platform">
                <option value="shopee" <% if (editing && product.platform=="shopee" ) { %>selected<% } %>>蝦皮商城
                </option>
                <option value="momo" <% if (editing && product.platform=="momo" ) { %>selected<% } %>>Momo商城</option>
                <option value="pchome" <% if (editing && product.platform=="pchome" ) { %>selected<% } %>>PChome
                </option>
                <option value="ruten" <% if (editing && product.platform=="ruten" ) { %>selected<% } %>>露天商城</option>
              </select>
              <input type="hidden" name="platform" id="platform">
            </div>
            <div>
              <label for="title">店家名稱</label>
              <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
            </div>
            <div>
              <label for="website">店家網站</label>
              <input type="text" name="website" id="website" value="<% if (editing) { %><%= product.website %><% } %>">
            </div>
            <div>
              <label for="description">商品描述</label>
              <input type="text" name="description" id="description"
                value="<% if (editing) { %><%= product.description %><% } %>">
            </div>
            <div>
              <label for="deadline">截止日期 (年/月/日)</label>
              <input type="text" name="deadline" id="deadline"
                value="<% if (editing) { %><%= product.deadline %><% } %>">
            </div>
            <div>
              <label for="targetAmount">目標金額</label>
              <input type="text" name="targetAmount" id="targetAmount"
                value="<% if (editing) { %><%= product.targetAmount %><% } %>">
            </div>

            <div class="btn__container">
              <button class="btn" type="submit">
                <% if (editing) { %>更新<% } else { %>發文<% } %>
              </button>
            </div>

          </form>
      </main>
      </div>

      <%- include('../includes/footer.ejs') %>
  </body>

  </html>