<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/all-system.css">
  <link rel="stylesheet" href="/css/user.css">
  <link rel="stylesheet" href="/css/orders.css">

  </head>

  <body>
    <%- include('../includes/navigation.ejs', { isAuthenticated: isAuthenticated }) %>

      <main>
        <div class="user__container">
          <div class="user-content">
            <img class="user-avatar" src="<%= user.avatar %>" alt="使用者的頭貼">
            <div>
              <span class="user-id">會員ID：<%=user._id.toString().substr(-10) %></span>
              <span>
                <%= user.name %>
              </span>
              <span>
                <%= user.nickname %>
              </span>
            </div>
          </div>
          <div class="detail-content">
            <span>
              <%= user.email %>
            </span>
            <span>
              <%= user.residence %>
            </span>
          </div>
        </div>

        <div class="list__container">
          <section>
            <span>發布清單</span>
            <div class="shop-content">
              <% if (prods.length> 0 ) { %>
                <% console.log(prods) %>
                  <div class="grid">
                    <% for (let product of prods) { %>
                      <a href="/all-<%= product.productId.service %>/<%= product.productId._id.toString() %>"
                        class="btn">
                        <article class="card product-item">
                          <header class="card__header">
                            <h1 class="product__title">
                              <%= product.productId.title %>
                            </h1>
                          </header>
                          <div class="card__image">
                            <% if(product.productId.platform){ %>
                              <img src="/img/fee/<%= product.productId.platform %>.jpg"
                                alt="<%= product.productId.title %>">
                              <% }else{ %>
                                <img src="<%= product.productId.imageUrl%>" alt="<%= product.productId.title %>">
                                <% } %>
                          </div>

                          <div class="card__actions">
                            <a href="/edit-product/<%=  product.productId._id.toString() %>?edit=true"
                              class="btn">編輯</a>
                            <form action="/delet-product">
                              <button class="btn" type="submit">刪除</button>
                              <input type="hidden" value="<%= product.productId._id.toString() %>" name="productId">
                            </form>
                          </div>

                        </article>
                      </a>
                      <% } %>
                  </div>
                  <% } else { %>
                    <h1>此使用者目前無商品上架！</h1>
                    <% } %>
            </div>
          </section>
          <section>
            <span>訂單清單</span>
            <div class="order-content">
              <% if (orders.length <=0) { %>
                <h1>目前還未有訂單</h1>
                <% } else { %>
                  <ul class="orders">
                    <% orders.forEach(order=> { %>
                      <li class="orders__item">
                        <h1>訂單編號 # <%= order._id %>
                        </h1>
                        <ul class="orders__products">
                          <% order.products.forEach(p=> { %>
                            <li class="orders__products-item">
                              商品名稱：<%= p.product.title %> (數量：<%= p.quantity %>)
                            </li>
                            <% }); %>
                        </ul>
                      </li>
                      <% }); %>
                  </ul>
                  <% } %>
            </div>
          </section>
        </div>
      </main>

      <%- include('../includes/footer.ejs') %>
  </body>

  </html>