<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/all-system.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs', { isAuthenticated: isAuthenticated }) %>

      <!--小標 -->
      <div Class="smalltitle">首頁 > 拆單服務</div>

      <section>
        <h2 class="section-title" id="all">所有商品</h2>

        <div class="shop-content">
          <% if (prods.length> 0) { %>
            <div class="grid">
              <% for (let product of prods) { %>
                <a href="/all-bin/<%= product._id %>" class="btn">
                  <article class="card product-item">
                    <header class="card__header">
                      <h1 class="product__title">
                        <%= product.title %>
                      </h1>
                    </header>
                    <div class="card__image">
                      <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <div class="card__content">
                      <h2 class="product__price">
                        NT$ <%= product.price %>
                      </h2>
                      <p class="product__deadline">
                        截止日期 <%= product.deadline %>
                      </p>
                    </div>
                  </article>
                </a>
                <% } %>
            </div>
            <% } else { %>
              <h1>目前沒有商品上架！</h1>
              <% } %>
        </div>
      </section>

      <!-- <%- include('../includes/footer.ejs') %> -->
  </body>

  </html>