<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/product-detail.css">
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <main class="centered">
        <div class="product__container">
          <div class="card__image">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
          </div>

          <div class="content__container">
            <h1>
              <%= product.title %>
            </h1>
            <hr>
            <h2>
              NT$ <%= product.price %>
            </h2>
            <div>
              <span class="big-title">截止日期</span>
              <span class="sub-title">
                <%= product.deadline %>
              </span>
            </div>
            <div>
              <span class="big-title">商品描述</span>
              <span class="sub-title">
                <%= product.description %>
              </span>
            </div>
            <span>
              <%= product.targetQuantity %>
            </span>
            <input type="number">
            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
          </div>
        </div>
      </main>

      <!-- <%- include('../includes/footer.ejs') %> -->
  </body>

  </html>